/**
 * Frontend styles for HM User Notes.
 */

.hm-user-note-indicator {
	margin-top: var(--wp--preset--spacing--20, 0.5rem);
	font-size: var(--wp--preset--font-size--small, 0.875rem);
}

.hm-user-note-indicator--saving {
	color: #666;
}

.hm-user-note-indicator--saved {
	color: var(--hm-user-notes--saved, #46b450);
}

.hm-user-note-indicator--error {
	color: var(--hm-user-notes--error, #dc3232);
}

.hm-user-note-form .comment-form-comment label,
.hm-user-note-form .comment-form .submit {
	display: none !important;
}
